@import 'bourbon';

body {
	background-color: #151;
}
#table {
	width: 1050px;
	height: 500px;
	margin: 0 auto;
}
#control {
	width: 1025px;
	height: auto;
	margin: 0 auto;
}
.container {
	position: relative;
	@include perspective(1000);
	margin: 0 0 20px 0;
}

.card {
	width: 74px;
	height: 98px;
	margin: 15px;
	position: absolute;
	top: 0;
	left: 0;
	@include transition(all 1s ease);

	@include transform-style(preserve-3d);
	@include transition(0.5s);
	cursor:pointer;
}
.card:hover {
  @include transform(rotateX(180deg));
}
.card .face {
	background-image: url(../images/playing-cards.png);
	background-repeat: no-repeat;
}
.card .back {
	background-image: url(../images/card-cover.jpg);
	background-repeat: no-repeat;
}
@for $i from 1 through 52 {
	.card-#{$i} .front {
		
		@if $i <= 13 {

			background-position: 0px + if(($i%13)==13, 0, -73 * ($i%13)) 0px;

		} @else if $i <= 26 {

			background-position: 0px + if(($i%13)==13, 0, -73 * ($i%13)) -98px;

		} @else if $i <= 39 {

			background-position: 0px + if(($i%13)==13, 0, -73 * ($i%13)) -196px;

		} @else if $i <= 52 {

			background-position: 0px + if(($i%13)==13, 0, -73 * ($i%13)) -294px;

		}

	}
}
.front {
	z-index: 10;
}
.back {
	@include transform(rotateY(180deg));
}
.face {
	position: absolute;
	@include backface-visibility(hidden);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	line-height: 50px;
	text-align: center;
}

/* BUTTON */
.myButton {
	background-color:#339900;
	@include border-top-radius(28px);
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	padding:16px 28px;
	text-decoration:none;
	text-shadow:0px 1px 15px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

