@import 'bourbon';

#table {
	width: 100%;
	height: 500px;
}
.card {
	width: 74px;
	height: 98px;
	background-image: url(../images/playing-cards.png);
	background-repeat: no-repeat;
	margin: 15px;
	position: absolute;
	top: 0;
	left: 0;
	@include transition(all 1s ease);
}
@for $i from 1 through 52 {
	.card-#{$i} {
		
		@if $i <= 13 {

			background-position: 0px + if(($i%13)==13, 0, -73 * ($i%13)) 0px;

		} @else if $i <= 26 {

			background-position: 0px + if(($i%13)==13, 0, -73 * ($i%13)) -98px;

		} @else if $i <= 39 {

			background-position: 0px + if(($i%13)==13, 0, -73 * ($i%13)) -196px;

		} @else if $i <= 52 {

			background-position: 0px + if(($i%13)==13, 0, -73 * ($i%13)) -294px;

		}

	}
}
